.level-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-header {
  background-color: whitesmoke;
  width: 100%;
  gap: 10px;
}

.level-header img {
  max-height: 67%;
}

.level-img {
  padding: 20px;
  max-width: 95%;
}
